.postPage {
  min-height: 87vh;
  padding: 17px;
  background: #EF3B36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.postPageContainer {
  height: 100%;
}

.post {
  text-align: left;
  word-wrap: break-word;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 4px 4px 5px;
}

.commentContent {
  resize: none;
  border: 1px solid black;
  width: 290px;
  height: 105px;
  margin-top: 15px;
}

.comments {
  text-align: left;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 7px;
  background-color: white;
  box-shadow: 4px 4px 5px;
}

.userNameAndDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.backToPosts {
  background-color: red;
  color: white;
  font-size: 17px;
  padding: 2px 8px;
  border: 2px solid black;
  margin-bottom: 18px;
  margin-top: 5px;
}

.editDelete {
  display: flex;
  justify-content: flex-end;
}

.editDeleteButton {
  margin-top: 5px;
}

.submitButton {
  background-color: red;
  color: white;
  font-size: 17px;
  padding: 2px 8px;
  border-radius: 25px;
  border: 2px solid black;
  margin-bottom: 18px;
  margin-top: 5px;
  box-shadow: inset -1px -1px 3px black;
}