.postPage {
  min-height: 87vh;
  padding: 17px;
  background: #EF3B36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.post {
  width: 380px;
  margin: 0px auto;
  text-align: left;
  word-wrap: break-word;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 4px 4px 5px;
}

.commentContent {
  resize: none;
  border: 1px solid black;
  width: 290px;
  height: 105px;
  margin-top: 15px;
}

.comments {
  width: 380px;
  margin: 0px auto;
  text-align: left;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 7px;
  background-color: white;
  box-shadow: 4px 4px 5px;
}

.userNameAndDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.editDelete {
  display: flex;
  justify-content: flex-end;
}

.editDeleteButton {
  margin-top: 5px;
}

.submitButton {
  background-color: red;
  color: white;
  font-size: 17px;
  padding: 2px 8px;
  border-radius: 25px;
  border: 2px solid black;
  margin-bottom: 18px;
  margin-top: 6px;
  box-shadow: inset -1px -1px 3px black;
  width: 80px;
}

.commentMessage {
  box-shadow: 0px 10px 45px
}

#postPageTitle {
  border: 1px dotted black;
  resize: none;
  font-family: sans-serif;
  font-size: 100%;
  width: 100%;
  height: 24px;
  font-weight: bold;
  margin-top: -1px;
}

#postPageContent {
  border: 1px dotted black;
  resize: none;
  font-family: sans-serif;
  font-size: 100%;
  width: 100%;
  height: 24px;
  margin-top: -3px;
}

.postPageProfilePost h1 {
  padding: 3px;
}

.postPageProfilePost div {
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 7px;
}