.forum {
  min-height: 87vh;
  padding: 17px;
  background: #EF3B36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.posts {
  min-height: 606px;
}

.forumPost {
  text-align: left;
  border-radius: 15px;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 8px;
  height: 57px;
  width: 96%;
  background-color: white;
  box-shadow: 4px 4px 5px;
}

.forumPosts {
  height: 72vh;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.createPost {
  background-color: red;
  color: white;
  font-size: 25px;
  padding: 6px 12px;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: inset -1px -1px 5px black;
  position: fixed;
  bottom: 32px;
  right: 127px;
}

.detailInfo {
  font-size: 13px;
  color: rgb(71, 71, 71)
}

.postMessage {
  box-shadow: 0px 10px 45px;
}