.forum {
  height: 87vh;
  padding: 17px;
}

.posts {
  height: 100%
}

.forumPost {
  text-align: left;
  border-radius: 15px;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 8px;
  height: 65px;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: space-between;
}

.createPost {
  background-color: red;
  color: white;
  font-size: 25px;
  padding: 6px 12px;
  border-radius: 25px;
  border: 2px solid black
}

.editDeleteButton {
  background-color: darkgray;
}

.detailInfo {
  font-size: 13px;
  color: rgb(71, 71, 71)
}

.tags {

}