.home {
  min-height: 87vh;
  padding: 17px;
  background: #EF3B36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homeContainer {
    height: 100%;
}

.characterSearch {
  border: 1px solid black;
  width: 240px;
  margin: 0px auto;
  margin-bottom: 12px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 17px;
  font-family: 'Lucida Grande';
  box-shadow: 4px 4px 8px;
}

.characterSearch div {
  margin-bottom: 8px;
}

.characterSearch button {
  background-color: red;
  color: white;
  margin-left: 5px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: inset -1px -1px 3px black;
}

.characterSearch input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 8px;
}

.otw {
  max-width: 380px;
  margin: 0px auto;
  padding: 10px 32px;
  display: flex;
  justify-content: space-between
}

.otwPicture {
  box-shadow: 3px 3px red, 9px 9px 7px black;
  margin-top: 2px;
}

.otwContainer span {
  font-family: 'Lucida Grande';
  font-size: 20px;
}

.comicBooks {
  max-width: 380px;
  border: 1px solid black;
  min-height: 20vh;
  margin: 0px auto;
  margin-top: 12px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 17px;
  font-family: 'Lucida Grande';
  box-shadow: inset -3px -3px 8px;
  text-align: left;
}

.comicLink {
    margin: 5px;
    font-style: italic;
}

.comicCharacters {
  max-width: 380px;
  border: 1px solid black;
  margin: 15px auto;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 17px;
  font-family: 'Lucida Grande';
  box-shadow: inset -3px -3px 8px;
}

.characterLinks {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.teamLinks {
  max-height: 12vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.characterLink {
    margin: 4px;
}

.homeTitle {
  margin-bottom: 8px;
  font-size: 21px;
  text-align: left;
}

.years {
  margin: 0px 3px;
  margin-bottom: 4px;
  font-size: 18px;
  text-decoration: underline;
}

.characterTitle {
  margin: 0px 5px;
  margin-bottom: 4px;
  font-size: 18px;
  text-align: left;
  text-decoration: underline;
}

.otwTitle {
  margin: 5px;
  margin-top: 21px;
  font-size: 24px;
  font-family: 'Lucida Grande';
  text-shadow: red 1px 1px 0px;
}

.otwContainer {
  width: 125px;
}