.header {
  width: 100%;
  min-height: 13vh;
  /* background-color: #ed1d24; */
  background-color: red;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#marvel-logo {
  box-shadow: black 0px 0px 20px;
}

.mobileMenu {
  font-size: 39px;
  position: absolute;
  right: 25px;
  top: 27px;
  color: black;
}

.backArrow {
  position: absolute;
  height: 30px;
  left: 28px;
  top: 32px;
}

.headerProfilePic {
  margin-top: 8px;
  margin-bottom: -6px;
  height: 95px;
  width: 95px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.904);
    box-shadow: red -6px 0px 25px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #9e9e9e;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: red;
}

.sidenav .closebtn {
  font-size: 39px;
  position: absolute;
  right: 23px;
  top: 16px;
  color: #9e9e9e;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}